:root {
    --primary-color: #2453a7;
    /* Azul principal - botones, enlaces */
    --secondary-color: #0976b4;
    /* Azul secundario - hovers */
    --accent1-color: #1d1d1e;
    /* Casi negro - headers, footers */
    --accent2-color: #f9d356;
    /* Amarillo - acentos, llamadas */
    --heading-font: "Times New Roman", Georgia, serif;
    --body-font: Helvetica, Arial, sans-serif;
    --text-light: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 840px;
    margin: 0px auto;
    font-family: var(--body-font);
    color: var(--accent1-color);
    background-color: var(--text-light);
    padding: 10px 10px 10px;
    border: 2px solid var(--accent1-color)
}

nav {
    background-color: var(--primary-color);
    padding: 10px;
}

nav a {
    display: block;
    color: var(--text-light);
    text-align: center;
    padding: 15px;
    text-decoration: none;
}