:root {
    --primary-color: #055a05;
    --secondary-color: #f4a261;
    --accent1-color: #264653;
    --accent2-color: #e9c46a;
    --heading-font: "Times New Roman", serif;
    --body-font: Arial, sans-serif;
}

/* El Hero debe contener todo */
.hero {
    position: relative;
    max-width: 840px;
    margin: 0 auto;
}

/* El título flotante */
.hero h1 {
    position: absolute;
    top: 0;
    right: 50;
    left: 50;
    width: 100%;
    background-color: rgba(38, 70, 83, 0.7);
    color: white;
    margin: 0;
    padding: 10px;
}

/* El cuadro de misión flotante */
.hero article {
    position: absolute;
    top: 100px;
    /* Ajusta este valor para bajarlo */
    left: 50px;
    right: 50px;
    background-color: var(--accent2-color);
    /* VARIABLE EN USO */
    opacity: 0.9;
    padding: 50px;
}

/* La imagen pequeña a la derecha */
.hero article img {
    float: right;
    width: 150px;
    margin-left: 20px;
}

* {
    margin: 0;
    padding: 0;
}

main {
    max-width: 800px;
    margin: 2rem auto;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    font-size: 1.5rem;
    text-shadow: 3px 3px 5px #777;
}

h2 {
    text-shadow: 0 0 15px #333;
    border-bottom: 1px solid #555;
    margin-bottom: 0.3rem;
}

footer {
    position: fixed;
    bottom: 0;
    margin: 1rem;
    border-top: 1px solid #000;
    padding: 0.5rem;
    color: navy;
    font-weight: 700;
    font-style: italic;
}