:root {
    --primary-color: #eff1ef;
    --secondary-color: #f1f4f8;
    --accent1-color: #151516;
    --accent2-color: #faf7f3;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
    background-color: #ffffff;
}

main,
header,
footer {
    width: 1500px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;

}

nav {
    display: flex;
    justify-content: flex-end;
    gap: 40px;

}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

p,
section,
article {
    margin: 20px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;

}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.9;
    background-color: var(--accent1-color);
    color: #fafafa;
}

h2 {
    font-size: 2rem;
    margin: 1.5rem 0 1rem 0;
    line-height: 1.3;
    padding-bottom: 0.5rem;
    background-color: #050577;
}

.hero article {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    background: #4f4ff5;
    margin: 0 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px #1616161a;
    color: var(--secondary-color);
}

.hero article img {
    float: right;
    width: 125px;
    margin-left: 15px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 2px solid var(--secondary-color);
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--accent2-color);
    color: #1a1919;
    padding: 20px;
    margin-top: 20px;
}

.socialmedia {
    display: flex;
    gap: 10px;
}

.adventures-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    align-items: flex-start;

}

.adventures-gallery figure {
    flex: 1 1 200px;
    max-width: 250px;
    text-align: center;

}

.adventures-gallery img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.adventures-gallery figcaption {
    margin-top: 8px;
    font-size: 14px;
    color: var(--accent1-color);
}

footer p {
    text-align: center;
    width: 100%;
}