:root {
    --primary-color: #055a05;
    /* Azul río */
    --secondary-color: #f4a261;
    /* Azul claro/agua */
    --accent1-color: #264653;
    /* Azul oscuro profundo */
    --accent2-color: #e9c46a;
    /* Naranja (contraste para botones/acentos) */
    --heading-font: "Times New Roman" "Georgia", serif;
    --body-font: "Helvetica", "Arial", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: var(--secondary-color);
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

header {
    display: grid;
    grid-template-columns: 120px 1fr;
    /* El logo ocupa 120px, el resto el menú */
    align-items: center;
    background-color: var(--secondary-color);
    padding: 10px 10px;
}