:root {
    --primary-color: #055a05;
    --secondary-color: #f4a261;
    --accent1-color: #264653;
    --accent2-color: #e9c46a;
    --heading-font: "Times New Roman", serif;
    --body-font: Arial, sans-serif;
}

/* El Hero debe contener todo */
.hero {
    position: relative;
    max-width: 840px;
    margin: 0 auto;
}

/* El título flotante */
.hero h1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(38, 70, 83, 0.7);
    color: white;
    margin: 0;
    padding: 10px;
}

/* El cuadro de misión flotante */
.hero article {
    position: absolute;
    top: 100px;
    /* Ajusta este valor para bajarlo */
    left: 50px;
    right: 50px;
    background-color: var(--accent2-color);
    /* VARIABLE EN USO */
    opacity: 0.9;
    padding: 20px;
}

/* La imagen pequeña a la derecha */
.hero article img {
    float: right;
    width: 150px;
    margin-left: 20px;
}