* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #055a05;
    /* forest green */
    --secondary-color: #617cf4;
    /* warm sand */
    --accent1-color: #264653;
    /* dark slate blue */
    --accent2-color: #e9c46a;
    /* light golden yellow */
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

body {
    font-family: var(--body-font);
    /* Usa Arial, Helvetica... */
}

header {
    background-color: var(--primary-color);
    /* El verde oscuro #055a05 */
    color: #ffffff;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

.hero {
    background-color: var(--secondary-color);
    /* El naranja #f4a261 */
    color: var(--accent1-color);
    /* El azul oscuro #264653 */
}

footer {
    border-top: 2px solid var(--accent2-color);
    /* El amarillo #e9c46a */
}