main {
    width: 75vw;
    margin: 1rem auto;
    background-color: #dd2121;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / .1);
}

p {
    text-align: justify;
}

.col1 img {
    float: right;
    margin: 0 0 15px 15px;
    border: 1px solid rgba(0 0 0 / .3);
    box-shadow: 0 0 30px #777;
}

footer {
    border-top: 1px solid #555;
    padding-top: 5px;
    clear: both;
    /* Remove the comment below and observe the results. */

    /* clear: both; */
}

:root {
    --primary-color: #055a05;
    /* forest green */
    --secondary-color: #f4a261;
    /* warm sand */
    --accent1-color: #264653;
    /* dark slate blue */
    --accent2-color: #e9c46a;
    /* light golden yellow */
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
    background-color: #f4f5f8;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: absolute;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;

}

.hero article img {
    float: right;
    width: 125px;
    margin-left: 15px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 2px solid var(--primary-color);
}

nav {
    background-color: var(--primary-color);
    padding: 16px;
}

nav a {
    color: #ebe8e8;
    text-decoration: none;
    margin: 0 10px;
    padding: 8px 16px;
}

nav a:hover {
    background-color: var(--accent2-color);
    color: var(--accent1-color);
    border-radius: 4px;
}

/* Estilo para el footer */
footer {
    background-color: var(--accent1-color);
    color: rgb(252, 248, 248);
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

.hero article {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    background: rgb(224, 227, 230);
    margin: 0 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(236, 233, 233, 0.1);
}